.bg-white-transluscent-blur {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.nav-item {
    padding: 0 2.5rem 0 2.5rem;
}

.nav-link {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #14008E !important;
}

.nav-link:hover {
    color: #5A4DB0 !important;
}

div[role=section] {
    height: 480px;
    font-family: 'Work Sans', sans-serif;
}

#hero {
    background: url(../images/bg-distorted-gradient.svg);
    background-size: cover;
    background-position: center;
}

#hero p,
#hero h1 {
    color: white !important;
}

.hero-container {
    position: relative;
    text-align: center;
}

#intro h1,
#intro h2,
#intro h3 {
    color: #14008E;
}
.card {
    background-image: linear-gradient(-135deg, #17EAD9 0%, #6078EA 100%);
}

#not-found {
    background: #14008E;
}